@import "bourbon";
@import "neat";

/*
 *= require_self
*/
body{
  @include background(linear-gradient(#f5f5f5, #ebebe0) left repeat);
  margin: 0;
}

#main-content{
  margin: 15px;
}

// Drop Down
.dropdown{
  a{
    text-decoration: none;
  }

  float: right;
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid silver;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 3%);
  $dropdown-inner-border: 1px solid silver;
  $dropdown-height: 40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 50px;
  $dropdown-arrow-top-distance: 0;

  line-height: $base-line-height;

  .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center;
  }

  // .dropdown-description {
  //   background: $dropdown-background;
  //   border-bottom: $dropdown-border;
  //   border-bottom-left-radius: $base-border-radius;
  //   border-left: $dropdown-border;
  //   border-top-left-radius: $base-border-radius;
  //   border-top: $dropdown-border;
  //   color: $dropdown-description-color;
  //   float: left;
  //   font-size: 0.7em;
  //   line-height: $dropdown-height;
  //   margin: 0;
  //   padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;

  //   @include media($large-screen) {
  //     font-size: 1em;
  //   }
  // }

  .dropdown-button {
    background: $dropdown-background;
    border-bottom: $dropdown-border;
    border-bottom-right-radius: $base-border-radius;
    border-right: $dropdown-border;
    border-top: $dropdown-border;
    border-top-right-radius: $base-border-radius;
    cursor: pointer;
    float: right;
    font-size: 0.7em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    position: relative;

    @include media($large-screen) {
      font-size: 1em;
      padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    }
  }

  .dropdown-button:hover {
    background-color: $dropdown-background-hover;
  }

  .dropdown-button::after {
    color: $base-font-color;
    content: "\25BE";
    display: block;
    position: absolute;
    right: $dropdown-padding;
    top: $dropdown-arrow-top-distance;
  }

  .dropdown-menu {
    background: $dropdown-background;
    border: $dropdown-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    transition: all 0.2s ease-in-out;
    width: 228px;
    z-index: 99999;

    &::before {
      @include position(absolute, 0 1em 0 0);
      color: $dropdown-background;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px transparentize(black, 0.7);
      top: -0.7em;
    }
  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    color: $dropdown-color;
    list-style: none;
    padding: $dropdown-padding / 2;
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .dropdown-menu li:last-child {
    border: 0;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .show-menu {
    display: block;
  }
}
// Alert Message
$base-spacing: 1.5em !default;
$flashes: (
  "alert": #fff6bf,
  "error": #fbe3e4,
  "notice": #e5edf8,
  "success": #e6efc2,
) !default;

@each $flash-type, $color in $flashes {
  .flash-#{$flash-type} {
    background-color: $color;
    color: shade($color, 60%);
    display: block;
    margin-bottom: $base-spacing / 2;
    padding: $base-spacing / 2;
    text-align: center;
    width: 95%;
    border-radius: 5px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .flash-success{
    border: 1px solid green;
  }
}
// Navigation
header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: desaturate(darken(#477DCA , 20%), 30%);
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    // @include outer-container;
    position: relative;
    z-index: 9999;
  }
  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;
    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }
  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;
    @include media ($horizontal-bar-mode) {
      display: none;
    }
    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }


  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;
    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    &.show {
      display: block;
    }
    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }
  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }
    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;
      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }
      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }
  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Far right items....
  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;
    @include media($horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: right;
    }
  }
  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;
    form {
      position: relative;
      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        border-radius: $base-border-radius * 2;
        box-sizing: border-box;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;
        @include media($horizontal-bar-mode) {
          width: 100%;
        }
      }
    }
    button[type=submit] {
      background: $navigation-search-background;
      border: none;
      bottom: 0.3em;
      left: auto;
      outline: none;
      padding: 0 9px;
      position: absolute;
      right: 0.3em;
      top: 0.3em;
      img {
        height: 12px;
        opacity: 0.7;
        padding: 1px;
      }
    }
  }
  @include media($horizontal-bar-mode) {
    display: inline-block;
    position: relative;
    input {
      box-sizing: border-box;
      display: block;
    }
  }
}

// Footer
.footer-2 {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-color: black;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);
  padding: $base-spacing;
  width: 100%;
  display: inline-block;
  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }
  ul li {
    list-style: none;
    padding-right: 1em;
    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    text-decoration: none;
    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }
  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }
    li {
      font-size: 0.8em;
    }
    ul.footer-social {
      margin: 1em 0 0 0;
      @include media($large-screen) {
      float: right;
      margin-top: 0;
        li {
          font-size: 1em;
          float: left;
          line-height: 0;
          margin: 0;
          padding-right: 0.7em;
          &:last-child {
            padding-right: 0;
          }
        }
      }
      img {
        height: 1.9em;
        opacity: 0.7;
        padding: 1px;
        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// Blog Post

.comment {
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $comment-gutter: 1.4em;
  $comment-image-padding: 0.7em;
  $comment-image-width: 4em;
  $comment-color: $base-font-color;
  $comment-background: lighten($action-color, 15%);
  $comment-detail-color: transparentize($comment-color, 0.5);
  $comment-image-vert-alignment: top;
  border-bottom: 1px solid transparentize($comment-color, 0.9);
  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  width: 100%;
  .comment-image, .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }
  .comment-image {
    padding-right: $comment-gutter;
    > img {
      background: $comment-background;
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      padding: $comment-image-padding;
      width: $comment-image-width;
    }
    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }
  .comment-content {
    width: 100%;
    h1 {
      font-size: 1em;
      margin: 0 0 0.5em 0;
    }
    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }
    p.comment-detail {
      color: $comment-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}

// Video

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;
  embed, object, iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}

article.type-system-geometric {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $base-font-color: $dark-gray !default;
  $sans-serif: 'Questrial', sans-serif;
  $serif: 'Sanchez', serif;
  @include clearfix;
  font-family: $sans-serif;
  text-align: left;
  h1, h2, h3, p {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }

  h1{
    text-align: center;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  h1 {
    font-family: $serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 0.5em;
    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }
  h2 {
    font-family: $serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4em;
    width: 70%;
    margin-bottom: 1.1em;
    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }
  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.7em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.3em;
  }
}
